  .collapsed {
      margin-left: 60px;
  }

  .flightTableWrapper {
      display: flex;
      flex-wrap: wrap;
      gap: 16px;
      padding-inline: 16px;
  }

  .selectAndUpload {
      margin-top: 16px;
      display: flex;
      align-items: baseline;
      gap: 16px;
  }

  .selectAndUpload button {
      flex: 1;
  }


  .header {
      display: flex;
      align-items: flex-end;
      padding: 16px;
      gap: 16px;
  }

  .checkList {
      display: flex;
      justify-content: flex-end;
      margin-top: 16px;
  }

  .timeStamp span {
      color: rgba(25, 25, 25, 0.5);
  }

  .onlyAlerts {
      margin-left: auto;
  }

  .control {
      max-width: 350px;
      display: flex;
  }

  /* Input */
  .controlInput {
      padding: 10px;
      flex: 1;
      border: 1px solid #ddd;
      border-radius: 4px;
  }

  .fileInputMemberWrapper {
      display: flex;
      gap: 16px;
      align-items: center;
  }