/* General styling for the table */
.tableContainer {
  flex: 1;
}

.flightsTable {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-family: "Arial", sans-serif;
  background-color: #f9f9f9;
}

.flightsTable th,
.flightsTable td {
  padding: 12px 15px;
  text-align: left;
  border: 1px solid #ddd;
}

.flightsTable th {
  background-color: #2c3e50;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}

.flightsTable td {
  background-color: #fff;
  color: #555;
}

/* Alternating row colors */
.flightsTable tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Hover effect */
.flightsTable tr:hover {
  background-color: #ddd;
  /* cursor: pointer; */
}


/* Controls container */
.controlsContainer {
  display: flex;
  flex-direction: row;
  /* Align items horizontally */
  gap: 25px;
  align-items: center;
  /* Vertically center items */
  margin-bottom: 20px;
  /* margin-right: 30px; */
}

/* Buttons */
.controlButton {
  padding: 10px 15px;
  background-color: #2c3e50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  /* margin-left: 15px; */
}

.onlyNaj {
  margin-left: 10px;
}

.controlButton:hover {
  background-color: #2c3e50;

}

.activeButton {
  background-color: #f44336;
}

.activeButton:hover {
  background-color: #d32f2f;
}



/* Responsive adjustments */
@media screen and (max-width: 768px) {
  .controlsContainer {
    flex-direction: column;
    /* Stack items on smaller screens */
    align-items: flex-start;
  }

  .controlInput {
    width: 100%;
  }
}

.warningRow td {
  background-color: #ffe5e5;
  /* Light red background */
}